**PANDAS**

Pandas is an open-source software library designed for data manipulation and analysis. 
It provides data structures like series and DataFrames to easily clean, transform and analyze large datasets and integrates with other Python libraries, such as NumPy and Matplotlib.

In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1', 'Row2', 'Row3', 'Row4', 'Row5'],columns=['col1', 'col2', 'col3', 'col4'])

In [8]:
df.head()

      col1  col2  col3  col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [12]:
df.to_csv('Test.csv')

In [15]:
## Accessing the elements
## 1> .loc
## 2> .iloc
df.loc['Row1']

col1    0
col2    1
col3    2
col4    3
Name: Row1, dtype: int64

In [22]:
type(df.loc['Row1'])

pandas.core.series.Series

In [23]:
df.iloc[:]

      col1  col2  col3  col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [24]:
df.iloc[0:2, 0:2]

      col1  col2
Row1     0     1
Row2     4     5

In [25]:
type(df.iloc[0:2, 0:2])

pandas.core.frame.DataFrame

In [44]:
type(df.iloc[0:2, 2:4])

pandas.core.frame.DataFrame

In [45]:
## convert dataframes into array
df.iloc[:, 1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [46]:
## dimention of the array formed
df.iloc[:, 1:].values.shape

(5, 3)

In [47]:
## Count missing values per column -- here all columns has 0 null values
df.isnull().sum()

col1    0
col2    0
col3    0
col4    0
dtype: int64

In [52]:
## check the count of values ina column
df['col1'].value_counts()

col1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64

In [54]:
## getting multiple column prints:
df[['col1', 'col2']]

      col1  col2
Row1     0     1
Row2     4     5
Row3     8     9
Row4    12    13
Row5    16    17