In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/mercedes/mercedesbenz.csv

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('/kaggle/input/mercedes/mercedesbenz.csv')

In [5]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [6]:
## to get basic info of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [7]:
df.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
## Get the unique category count
df['X10'].value_counts()

X10
0    4153
1      56
Name: count, dtype: int64

In [9]:
## Get the dataframe for a column condition
df[df['y']>100]

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
6,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0
8,27,108.67,w,s,as,e,d,f,i,h,...,1,0,0,0,0,0,0,0,0,0
9,30,126.99,j,b,aq,c,d,f,a,e,...,0,0,1,0,0,0,0,0,0,0
10,31,102.09,h,r,r,f,d,f,h,p,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4202,8402,123.34,ap,l,s,c,d,aa,d,r,...,0,0,0,0,0,0,0,0,0,0
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

**SAMPLE CSV**

In [10]:
from io import StringIO, BytesIO

In [11]:
data = ('col1, col2, col3\n'
        'x, y, 1\n'
        'a, b, 2\n'
        'c, d, 3')

In [12]:
type(data)

str

In [13]:
data

'col1, col2, col3\nx, y, 1\na, b, 2\nc, d, 3'

In [14]:
pd.read_csv(StringIO(data))

  col1  col2   col3
0    x     y      1
1    a     b      2
2    c     d      3

In [15]:
df = pd.read_csv(StringIO(data),usecols=['col1'])

In [16]:
df

  col1
0    x
1    a
2    c

In [17]:
print(data)

col1, col2, col3
x, y, 1
a, b, 2
c, d, 3

In [18]:
data = ('a, b, c, d\n'
        '1, 2, 3, 4\n'
        '5, 6, 7, 8\n'
        '9, 10, 11, 12')

In [19]:
print(data)

a, b, c, d
1, 2, 3, 4
5, 6, 7, 8
9, 10, 11, 12

In [20]:
df = pd.read_csv(StringIO(data), dtype = object)

In [21]:
df

   a    b    c    d
0  1    2    3    4
1  5    6    7    8
2  9   10   11   12

In [22]:
df['a'][1]

'5'

In [23]:
type(df['a'][1])

str

In [24]:
df = pd.read_csv(StringIO(data), dtype=int)

In [25]:
df['a'][1]

5

In [26]:
type(df['a'][1])

numpy.int64

## Make different columns as different datatype

In [27]:
df=pd.read_csv(StringIO(data),dtype={'a': int, 'c': float, 'd': object})

In [28]:
df

   a   b   c   d
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [29]:
df.dtypes

a     int64
 b    int64
 c    int64
 d    int64
dtype: object

## To make the index same as data index

In [32]:

data = ('index, a, b, c\n'
        '4, apple, bat, 5.7\n'
        '8, guava, cow, 7.8')

In [33]:
pd.read_csv(StringIO(data))

   index       a     b    c
0      4   apple   bat  5.7
1      8   guava   cow  7.8

In [34]:
pd.read_csv(StringIO(data), index_col=0)

            a     b    c
index
4       apple   bat  5.7
8       guava   cow  7.8

## Not considering the 1st column as index

In [35]:
data = ('a, b, c\n'
        '4, apple, cat\n'
        '8, grapes, dog')

In [36]:
pd.read_csv(StringIO(data), index_col=False)

   a        b     c
0  4    apple   cat
1  8   grapes   dog

In [37]:
## Quoting and escape characters
data = 'a, b\n "Hello, \\"Bob\\", nice to see you", 5'

In [40]:
pd.read_csv(StringIO(data), escapechar = '\\')

                              a   b
"Hello "Bob"   nice to see you"   5